.payment-method-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    column-gap: 1em;
    row-gap: 1em;
    div {
        width: 10em;
        height: 10em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: .5em;
        &.selected {
            border: 5px solid var(--primary)
        }
    }
}