::ng-deep .mat-mdc-dialog-content .pricing-list {
    width: 25vh;
    .mat-mdc-list-item {
        height: 2em;
        padding: 0;
        .mdc-list-item__primary-text {
            display: flex;
            justify-content: space-between;
            span {
                font-size: .9em;
            }
            span:first-child {
                font-weight: bold;
                color: var(--medium)
            }
        }
        &.total-item {
            border-top: 1px solid var(--light);
            margin-top: .5em;
        }
    }
}