<h2 mat-dialog-title class="mb-2">Detalle del Período</h2>
<mat-dialog-content class="mat-typography">
    <mat-list role="list" class="pricing-list">
        <mat-list-item role="listitem">
            <span>Período</span>
            <span>12/2023</span>
        </mat-list-item>
        <mat-list-item role="listitem">
            <span>Vencimiento</span>
            <span>21/02/2023</span>
        </mat-list-item>
        <mat-list-item role="listitem">
            <span>Nominal</span>
            <span>$950</span>
        </mat-list-item>
        <mat-list-item role="listitem">
            <span>Recargo</span>
            <span>$50</span>
        </mat-list-item>
        <mat-list-item role="listitem">
            <span>Descuento</span>
            <span>$50</span>
        </mat-list-item>
        <mat-list-item role="listitem">
            <span>Multa</span>
            <span>$50</span>
        </mat-list-item>
        <mat-list-item role="listitem" class="total-item">
            <span>Total</span>
            <span>$1000</span>
        </mat-list-item>
    </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>