<footer>
    <div class="container-fluid">
        <div class="row p-4">
            <div class="col-12 col-md-4 mb-4 mb-md-0">
                <div class="row">
                    <img class="logo" src="../assets/imgs/rtm_logo.svg" alt="">
                </div>
                <div class="row mt-4">
                    <p class="summary">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis explicabo totam
                        soluta eaque natus ab temporibus debitis ducimus! Ullam, illum? Odio non numquam sunt accusantium
                        illum officiis alias corrupti impedit?</p>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <ul>
                    <li class="title">Tributos</li>
                    <li>Inmobiliario</li>
                    <li>Automotor</li>
                    <li>Comercios</li>
                    <li>Cementerios</li>
                </ul>
            </div>
            <div class="col-6 col-md-4">
                <ul>
                    <li class="title">Información</li>
                    <li>Requerimientos mínimos</li>
                    <li>Seguridad de la operación</li>
                    <li>Formas de pago presenciales</li>
                    <li>Adicionales</li>
                </ul>
            </div>
        </div>
        <div class="row bg-superdark py-2 text-center">
            <span class="medium">© SouthHive 2023 - Sistema de Administración Municipal</span>
        </div>
    </div>
</footer>