@import "./custom-mat-theme.scss";

:root {
    --primary: #2196f3;
    --ultralight: #F5F5F5;
    --light: #DBDBDB;
    --medium: #868686;
    --dark: #4B4B4A;
    --superdark: #2F2F2F;
    --ultradark: #1D1D1D;
    --white: #FFFFFF;
    --success: #21a204;
    --danger: #f44336;
    --warning: #FF9800;
}

$link-color: #2196f3;
$label-margin-bottom: 0;

// Set bootstrap breakpoints same as material design
$grid-breakpoints: (
    xs: 0,    // handset portrait (small, medium, large) | handset landscape (small)
    sm: 600px,    // handset landscape (medium, large) | tablet portrait (small, large)
    md: 960px,    // tablet landscape (small, large)
    lg: 1280px,    // laptops and desktops
    xl: 1600px // large desktops
);

$container-max-widths: (
    sm: 600px,
    md: 960px,
    lg: 1280px,
    xl: 1600px
);