<!-- ---------------
DEPRECATED COMPONENT
---------------- -->

<div class="page-container">
    <div class="container">
        <div class="row">
            <app-breadcrumbs
                [steps]="[{name:'Inicio',link:'/home'},{name:'Buscar comercio por CUIT',link:'/tax/search/comercios'},{name:'30123456780',link:'/tax/search/comercios'}]">
            </app-breadcrumbs>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms">
                    <mat-tab label="IMPUESTOS">
                        <h2 class="section-title my-5">Pagos Mensuales</h2>
                        <mat-expansion-panel class="default-card-style m-2" expanded>
                            <mat-expansion-panel-header class="py-4">
                                <mat-panel-title>
                                    <mat-icon class="me-4" color="primary">account_circle</mat-icon>
                                    <span class="item-description">3312345678</span>
                                </mat-panel-title>
                                <mat-panel-description class="justify-content-end me-4">
                                    Empresa S.A.
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <mat-selection-list [multiple]="false">
                                <mat-list-option color="primary">
                                    <div class="d-flex justify-content-between">
                                        <div class="py-4 ff-roboto">
                                            <p class="dark fw-medium m-0">Cuota 11/12 <span class="chip success">A Vencer</span></p>
                                            <p class="medium m-0 fz-small">Vence el 10/11/2023</p>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <p class="dark m-0 fw-bold fz-1_2">$6525,45</p>
                                        </div>
                                    </div>
                                </mat-list-option>
                                <mat-list-option color="primary">
                                    <div class="d-flex justify-content-between">
                                        <div class="py-4 ff-roboto">
                                            <p class="dark fw-medium m-0">Cuota 11/12 <span class="chip danger">EN MORA</span></p>
                                            <p class="medium m-0 fz-small">Vence el 10/11/2023</p>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <p class="dark m-0 fw-bold fz-1_2">$6525,45</p>
                                        </div>
                                    </div>
                                </mat-list-option>
                                <mat-list-option color="primary">
                                    <div class="d-flex justify-content-between">
                                        <div class="py-4 ff-roboto">
                                            <p class="dark fw-medium m-0">Cuota 11/12 <span class="chip danger">EN MORA</span></p>
                                            <p class="medium m-0 fz-small">Vence el 10/11/2023</p>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <p class="dark m-0 fw-bold fz-1_2">$6525,45</p>
                                        </div>
                                    </div>
                                </mat-list-option>

                            </mat-selection-list>
                        </mat-expansion-panel>
                    </mat-tab>
                    <mat-tab label="PLANES">
                        <h2 class="section-title my-5">Planes de Pago</h2>
                    </mat-tab>
                    <mat-tab label="JUICIOS">
                        <h2 class="section-title my-5">Juicios</h2>
                    </mat-tab>
                    <mat-tab label="MULTAS">
                        <ng-template mat-tab-label>
                            <div matBadge="4" matBadgeColor="warn" matBadgeOverlap="false">MULTAS</div>
                        </ng-template>
                        <h2 class="section-title my-5">Multas</h2>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <div class="col-sm-4 pt-5">
                <h2 class="section-title my-5">Total a Pagar</h2>
                <mat-card class="default-card p-4">
                    <mat-card-header>
                        <mat-card-title>Incluye</mat-card-title>
                        <mat-card-subtitle>1 Obligación</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        content
                    </mat-card-content>
                    <mat-card-actions class="mt-2 d-flex justify-content-center">
                        <button mat-raised-button color="primary" class="me-2">PAGAR</button>
                        <button mat-raised-button class="gray">CEDULON</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>

</div>
