.global-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
}

.is-mobile .main-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

h1.main-title {
    margin-left: 8px;
    //color: var(--primary);
}

.main-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    .mat-sidenav {
        width: 30vh;
        background: var(--dark);
        .mat-mdc-subheader {
            font-family: 'Maven Pro';
            color: white;
            font-weight: bold;
            font-size: 1.1em;
        }
        .mat-divider {
            border-color: var(--medium);
        }
    }
}

.is-mobile .main-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}
.global-content {
    flex: 1;
}
// Sidenav
::ng-deep .mat-sidenav .mdc-list-item__primary-text {
    color: white!important;
    font-family: 'Maven Pro'!important;
}

::ng-deep .mat-sidenav a.mdc-list-item.router-active {
    .mdc-list-item__primary-text {
        padding-left: .5em;
        border-left: 3px solid var(--primary);
        color: var(--primary)!important;
        font-weight: medium;
    }
}